In [1]:
import numpy as np # Fundamental package for linear algebra and multidimensional arrays
import pandas as pd # Data analysis and manipulation tool

# IMPORT GENERIC PACKAGES
import matplotlib.pyplot as plt # plotting library
import seaborn as sns # pretty plotting

sns.set(rc={'figure.figsize':(20,10)}, palette="PiYG", style='white')

from sklearn.model_selection import train_test_split # split dataset

In [2]:
train_data = pd.read_csv('new_train.csv')

In [3]:
train_data.head(10)

         date  temp
0  01-01-1980  4.16
1  02-01-1980  4.06
2  03-01-1980  7.12
3  04-01-1980  9.23
4  05-01-1980  3.20
5  06-01-1980  7.01
6  07-01-1980  3.21
7  08-01-1980  2.03
8  09-01-1980  4.49
9  10-01-1980  5.94

In [4]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11323 entries, 0 to 11322
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    11323 non-null  object
 1   temp    11323 non-null  float64
dtypes: float64(1), object(1)
memory usage: 132.8+ KB

In [5]:
train_data.describe()

               temp
count  11323.000000
mean      15.573259
std        7.877191
min       -5.110000
25%        8.390000
50%       15.990000
75%       22.055000
max       32.390000